<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-dataexchanger"
    version="1.0.0">

    <name>DxPlugin</name>
    <description>DataExchanger Plugin</description>
    <license>Apache 2.0</license>
    <keywords>bluetooth, BLE, bluetooth low energy, bluetooth smart, DataExchanger, dataexchanger, data exchanger, DX, dx</keywords>

    <repo>https://github.com/mingdee/cordova-plugin-dataexchanger.git</repo>
    <issue>https://github.com/mingdee/cordova-plugin-dataexchanger/issues</issue>

    <dependency id="cordova-plugin-compat" version="^1.0.0" />

    <js-module src="www/dx.js" name="Dx">
        <clobbers target="window.dx" />
    </js-module>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="DxPlugin">
                <param name="ios-package" value="DxPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/DxPlugin.h" target-dir="DxPlugin" />
        <source-file src="src/ios/DxPlugin.m" target-dir="DxPlugin" />

        <header-file src="src/ios/DxAppSC.h" target-dir="DxPlugin" />
        <source-file src="src/ios/DxAppSC.m" target-dir="DxPlugin" />

        <header-file src="src/ios/DxAppFirmLogStateMachine.h" target-dir="DxPlugin" />
        <header-file src="src/ios/DataExchangerDevice.h" target-dir="DxPlugin" />
        <source-file src="src/ios/DataExchangerDevice.m" target-dir="DxPlugin" />

        <header-file src="src/ios/BLEController.h" target-dir="DxPlugin" />
        <header-file src="src/ios/BLEControllerDeviceProtocol.h" target-dir="DxPlugin" />
        <header-file src="src/ios/BLEDevice.h" target-dir="DxPlugin" />
        <header-file src="src/ios/BLEDeviceAppDelegateProtocol.h" target-dir="DxPlugin" />
        <header-file src="src/ios/BLEDeviceProfileProtocol.h" target-dir="DxPlugin" />
        <header-file src="src/ios/BLELib.h" target-dir="DxPlugin" />
        <header-file src="src/ios/BLEProfile.h" target-dir="DxPlugin" />
        <header-file src="src/ios/DataExchangerProfile.h" target-dir="DxPlugin" />
        <header-file src="src/ios/DataExchangerProfileProtocol.h" target-dir="DxPlugin" />

        <!-- libraries -->
        <source-file src="src/ios/libblelib.a" framework="true" />
        <source-file src="src/ios/libDxAppFirmLogStateMachine.a" framework="true" />

        <!-- frameworks -->
        <framework src="CoreBluetooth.framework" />

    </platform>

</plugin>
